<div class="fundo">
  <div class="login-container">
    <h1>Entrar</h1>
    <form id="loginForm">
      <div class="form-group">
        <label for="username">Nome de usuário:</label>

        <input type="text" id="username" name="username" required />
      </div>
      <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button onclick="window.history.back();">continuar</button>
    </form>
  </div>
</div>
