<div class="menu-container">

    <img class ="logo" src="/assets/img/logo2.png">
    <nav class="menu">
                    <details class="adm">
                        <summary>Home</summary>
                        <div>
                            <li class="menu-item"><a routerLink="/home">Home</a>
                        </div>
                    </details>
        

                <details class="adm">
                    <summary>Administração</summary>
                    <div>
                        <li class="menu-item"><a routerLink="/cadUsuario">Cadastro de Usuário</a>
                    </div>
                </details>

                    <details class="pdt">
                        <summary>Produtos</summary>
                        <div>
                            <li class="menu-item"><a routerLink="/cadProduto">Cadastro de Produtos</a>
                                <li class="menu-item"><a routerLink="/movProduto">Movimentação de Produtos</a>
                        </div>
                    </details>
    </nav>
</div>
